<!DOCTYPE html>
<link rel="stylesheet" href="/css/footer.css">
<style>
.mypage{
 	cursor: pointer;
}
</style>

  <!-- 밑에 네비게이션 바 -->
  <div class="bottom-navBar">
    <ul class="nav">
      <li class="nav-item">
        <a class="item" aria-current="page" href="/"><i class="fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item">
        <a class="item" th:if="${session.user != null}" th:href="@{/feed/myPage(userFeedWriter=${session.user.userId})}"><i class="fa-solid fa-user"></i></a>
     	<a class="item mypage" th:if="${session.user == null}" onclick="noneLogin()"><i class="fa-solid fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="item" href="/text/textFeedList"><i class="fa-solid fa-newspaper"></i></a>
      </li>
      <li class="nav-item">
        <a class="item" href="/photo/list"><i class="fa-solid fa-camera"></i></a>
      </li>
    </ul>
  </div>

	<footer>
	<div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div>
        <p>상호명 : (주)테크노 </p>
        <p>소재지 : 서울시 영등포구 선유도 57 이레빌딩 19F</p>
      </div>
      <div>
        <p>고객센터 : 1577-0001[평일 09:00 ~ 17:00]</p>
        <p>EMAIL : admin@icemall.com</p>
      </div>
    </footer>
    <script>
function noneLogin(){
	 swal({
         title: "로그인을 해주세요",
         text: "로그인을 해야 서비스 이용이 가능합니다.",
         icon: "warning"
     });
}
</script>