<!DOCTYPE html>
  <link rel="stylesheet" href="/css/style.css" />


  <!-- 밑에 네비게이션 바 -->
  <div class="bottom-navBar">
    <ul class="nav">
      <li class="nav-item">
        <a class="item" aria-current="page" href="#"><i class="fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item">
        <a class="item" href="#"><i class="fa-solid fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="item" href="#"><i class="fa-solid fa-newspaper"></i></a>
      </li>
      <li class="nav-item">
        <a class="item" href="#"><i class="fa-solid fa-camera"></i></a>
      </li>
    </ul>
  </div>

	<footer>
      <div>
        <p>상호명 : (주)ICE-MALL</p>
        <p>소재지 : 서울시 영등포구 선유fh 57 이레빌딩 19F</p>
      </div>
      <div>
        <p>고객센터 : 1577-0001[평일 09:00 ~ 17:00]</p>
        <p>EMAIL : admin@icemall.com</p>
      </div>
    </footer>