<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/user/userStyle.css" />
<head>
<meta charset="UTF-8">
<style>
.warning-wrapper{
	width: 100% !important;
}
</style>
<title>MINIT_warningUser</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	 <div class="wrapper">
	  <section>
                <div class="page-title">관리자 페이지</div>
                <div class="warning-wrapper">
                    <table class="warnnig-tbl">
                        <tr>
                            <th style="width: 5%"></th>
                            <th style="width: 10%">회원번호</th>
                            <th style="width: 25%">아이디</th>
                            <th style="width: 30%">사용자이름</th>
                            <th style="width: 15%">경고 횟수</th>
                            <th style="width: 20%">경고주기</th>
                        </tr>
                        <tr th:each="u : ${list}">
                            <td>
                                <input type="checkbox" class="chk" >
                            </td>
                            <td th:text="${u.userNo}"></td>
                            <td th:text="${u.userId}"></td>
                            <td th:text="${u.userName}"></td>
                            <td th:text="${u.warningCount}"></td>
                            <td>
                            	<button type="button" class="warn-btn">경고</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <button class="warn-btn" style="width: 80%; height: 30px">선택회원경고</button>
                            </td>
                        </tr>
                    </table>
                </div>
                
            </section>
          </div>
          <script>
          	$(".warn-btn").on("click",function(){
          		//클릭한 버튼 기준으로 해당 행의 회원 번호를 가지고 오는 작업
        		const userNo = $(this).parent().parent().children().eq(1).text();
          		//console.log(userNo);
          		const warningCount = $(this).parent().prev().text();
          		//console.log(warningCount);
          		location.href="/admin/changeCount?userNo="+userNo+"&warningCount="+warningCount;
          		
          	});
          </script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>