@charset "UTF-8";

.page-title{
  text-align: center;
  margin: 50px auto;
}


/*관리자페이지*/
.warn-btn{
  background-color: #75daa4;
  border: none;
  border-radius: 15px;
}

.page-title{
  text-align: center;
  margin: 50px auto;
}

.warning-warapper{
	width: 800px;
}

.warnnig-tbl {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
}

.warnnig-tbl th,
.warnnig-tbl td {
  border: 2px solid white; /* 각 셀에 border 추가 */
  padding: 8px;
  text-align: center; /* 텍스트 가운데 정렬 */
  background-color: #d9eddf;
}
.warnnig-tbl td{
  background-color: white;
}

.warnnig-tbl>:first-child{
  text-align: center;
}




/*마이페이지*/
.info-tbl{
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
}
.info-tbl th,
.info-tbl td {
  border: 2px solid white; /* 각 셀에 border 추가 */
  padding: 8px;
  text-align: center; /* 텍스트 가운데 정렬 */
  background-color: #d9eddf;
}
.info-tbl td{
  background-color: white;
  width: 65%
}
.info-tbl th{
  width: 20%;
}
.info-tbl td #userInfo{
	width: 100%;
}
.info-tbl td>.basic-img{
  width: 40%;
  margin: 0 auto;
}
.info-tbl td>#img-viewer>img{
  width: 40%;
}
.info-tbl td>button{
  margin: 20px 0;
}





.mypage-btn{
  display: flex;
	justify-content: center;
	gap : 50px;
	padding : 30px 0px;
}

.btn-point1{
  background-color: #75daa4;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 15px;
}
.btn-point2{
  background-color: #6fcc9a;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 15px;
}
.btn-point3{
  background-color: #a4a4a4;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  color: black;
}

.img-delete-btn{
  background-color: #75daa4;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 40px;
}
.img-change-btn{
  background-color: #75daa4;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}






.check{
  display: flex;
  justify-content: space-between;
}
.check-btn{
  margin-right: 5px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nick-check-btn{
  background-color: transparent;
  border: 1px solid #75daa4;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  font-size: 13px;
}

.input-item input{
    border: none;
	text-align: center;
	border-bottom: 1px solid lightgray;
}
.input-item input:focus{
	outline:none;
}


.nick-check-msg{
	font-size: 13px;
}
.valid{
	visibility: visible;
	color: #61bb8b;
}
.invalid{
	visibility: visible;
	color: red;
}
.none{
	visibility: hidden;
}

.img-none{
	display: none;
}
.img-show{
	display: block;
}

.valid{
	visibility: visible;
	color: #61bb8b;
}
.invalid{
	visibility: visible;
	color: red;
}
.none{
	visibility: hidden;
}
.mb-3 p{
	font-size: 13px;
}




/*관리페이지*/
.link-button{
	margin: 0 auto;
}
.btn-basic{
    background-color: #75daa4;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
	margin: 0 30px;
}
.btn-basic a{
	line-height: 40px;
	color: white;
}
