@charset "UTF-8";

@font-face {
    font-family: 'goorm-b';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'goorm-sans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-code.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{
	font-size: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding-top: 60px; /* header 높이 만큼 추가 */
  display: flex;
  align-items: center;
}

.wrapper section {
  position: relative; /* section 요소를 상대적으로 배치 */
  width: 1000px; /* 고정된 너비 설정 */
  max-width: 1000px;
  overflow: auto;
  margin-top: 5px;
  height: 100%;
  flex-grow: 1;  /*background-color: antiquewhite;*/
  /* 부모 요소가 전체 높이를 가지도록 설정 */
  flex: 1; /* 스크롤바가 생기도록 설정 */
}

.page-title{
  text-align: center;
  margin: 50px auto;
  font-size: 20px;
  font-family: 'goorm-b';
}

.wh-btn{
  background-color: #ffffff;
  border: 2px solid #75daa4;
  border-radius: 8px;
  color: black;
}
.wh-btn:hover, .wh-btn:focus{
  background-color: #75daa4;
  border: 2px solid #75daa4;
  border-radius: 8px;
  color: #ffffff;
}

.my-info-wrap{
	border: 2px solid #75daa4;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 10px;
}
/*
.wh-btn a{
  color: black;
}
.wh-btn a:hover, .wh-btn a:focus{
  color: #ffffff;
}
*/

.wh-btn2{
  background-color: #ffffff;
  border: 2px solid #6fcc9a;
  border-radius: 8px;
  color: black;
}
.wh-btn2:hover, .wh-btn2:focus{
  background-color: #6fcc9a;
  border: 2px solid #6fcc9a;
  border-radius: 8px;
  color: #ffffff;
}


/*관리자페이지*/

.warning-warapper{
	width: 800px;
}

.warnnig-tbl {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
}

.warnnig-tbl th,
.warnnig-tbl td {
  border: 2px solid white; /* 각 셀에 border 추가 */
  padding: 8px;
  text-align: center; /* 텍스트 가운데 정렬 */
  background-color: #d9eddf;
}
.warnnig-tbl td{
  background-color: white;
}

.warnnig-tbl>:first-child{
  text-align: center;
}

.warn-btn{
	width: 50px;
}


/*마이페이지*/
.mt-info-wrap{
	width: 100%;
}
.info-tbl{
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
}
.info-tbl th,
.info-tbl td {
  border: 2px solid white; /* 각 셀에 border 추가 */
  padding: 8px;
  text-align: center; /* 텍스트 가운데 정렬 */
  background-color: #d9eddf;
}
.info-tbl td{
  background-color: white;
  width: 65%
}
.info-tbl th{
  width: 20%;
}
.info-tbl td #userInfo{
	width: 100%;
}
.info-tbl td>.basic-img>img{
  width: 200px;
  height:200px;
  /* width: 40%;*/
  margin: 0 auto;
}
.info-tbl td>#img-viewer>img{
  width: 40%;
  margin: 0 auto;
}

.info-tbl td>.logo-img>img{
  width: 40%;
  margin: 0 auto;
}

.info-tbl td>button{
  margin: 20px 0;
}





.mypage-btn{
  display: flex;
	justify-content: center;
	gap : 50px;
	padding : 30px 0px;
}

.btn-point2{
  background-color: #ffffff;
  border: 2px solid #6fcc9a;
  width: 20%;
  height: 40px;
  border-radius: 8px;
}
.btn-point2:hover, .btn-point2:focus{
  width: 20%;
  height: 40px;
  background-color: #6fcc9a;
  border: 2px solid #6fcc9a;
  border-radius: 8px;
  color: #ffffff;
}

.btn-point3{
  background-color: #ffffff;
  border: 2px solid #a4a4a4;
  width: 20%;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: black;
}
.btn-point3:hover, .btn-point3:focus{
  background-color: #a4a4a4;
  width: 20%;
  height: 40px;
  background-color: #a4a4a4;
  border: 2px solid #a4a4a4;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: #ffffff;
}

.img-delete-btn{
  width: 100%;
  height: 40px;
}
.img-change-btn{
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.img-logo-btn{
  width: 100%;
  height: 40px;
}






.check{
  display: flex;
  justify-content: space-between;
}
.check-btn{
  margin-right: 5px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nick-check-btn{
  background-color: transparent;
  border: 1px solid #75daa4;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  font-size: 13px;
}

.input-item input{
    border: none;
	text-align: center;
	border-bottom: 1px solid lightgray;
}
.input-item input:focus{
	outline:none;
}


.nick-check-msg{
	font-size: 13px;
}
.valid{
	visibility: visible;
	color: #61bb8b;
}
.invalid{
	visibility: visible;
	color: red;
}
.none{
	visibility: hidden;
}

.img-none{
	display: none;
}
.img-show{
	display: block;
	width: 100%;
}
.img-wrapper{
	width: 200px;
	height: 200px;
	margin-left: 190px;
}

/*유효성 확인 메시지*/
.valid{
	display: block;
	color: #61bb8b;
}
.invalid{
	display: block;
	color: red;
}
.none{
	display: none;
}
.input-msg{
	height: 24px;
	line-height: 24px;
}
.input-msg .material-icons{
	width:24px;
	font-size: 24px;
	vertical-align: middle;
}
.input-msg span{
	font-size: 13px;
}

.my-info-wrap{
	text-align: center;
}
.my-info-wrap .minit span{
	color: #61bb8b;
	font-size: 13px;
}








/*관리페이지*/
.main-text span{
	font-family: 'goorm-b';
	font-size: 20px;
}
.link-button{
	margin: 0 auto;
}


.btn-basic{
	width: 140px;
    height: 50px;
    display: inline-block;
	margin: 0 30px;
	background-color: #ffffff;
	border: 2px solid #6fcc9a;
	border-radius: 8px;
	color: black;
}
.btn-basic:hover, .btn-basic:focus{
  background-color: #6fcc9a;
  border: 2px solid #6fcc9a;
  border-radius: 8px;
  color: black;
}
.btn-basic a{
	line-height: 50px;
	text-decoration: none;
	font-size: 17px;
	color: black;
}







.findaccount-main>*{
  margin: 0;
  padding: 0;
  outline: none;
}


.logo>.logo-img{
  height: 200px;
  width: 200px;
  margin: 50px auto;
  align-items: center;
  background-color: aliceblue;
  text-align: center;
  line-height: 200px;
}

.logo>.logo-img>img{
  width: 100%;
}

.main>.main-text{
  text-align: center;
  margin: 50px auto;
  font-size: 17px;
  line-height: 60px;
}

.link-button{
  height: 120px;
  text-align: center;
}

.find{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 150px;
  margin: 30px 30px;
  background-color: #75daa4;
  border: none;
  border-radius: 30px;
}