<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/user/userStyle.css" />
<link rel="stylesheet" href="/css/font/font.css" />
<head>
<meta charset="UTF-8">
<title>ID/PW 찾기</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>

		<div class="wrapper">
        <div class="findaccount-main">
          <div class="logo">
            <div class="logo-img">
              <img src="/image/logo/minit_logo_2.png">
            </div>
          </div>
          <div class="main">
            <div class="main-text">
              <div>
                <span>계정을 잊어버리셨나요?</span>
              </div>
              <div>
                <span>MINIT이 찾아드릴게요!</span>
              </div>
            </div>
          </div>
          <div class="link-button">

            <div class="find">
              <a
                  class="nav-link"
                  aria-current="page"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#findidModal"
                  >ID 찾기</a>
            </div>
            <div class="find">
              <a 
                class="nav-link"
                aria-current="page"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#findpwModal"
                >PW 찾기</a>
            </div>


            <!--Id 찾기모달창-->
            <div
            class="modal fade"
            id="findidModal"
            tabindex="-1"
            aria-labelledby="findidModalLabel"
            aria-hidden="true"
            >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                
                <div class="modal-header">
                  <div class="modal-title" id="findidModalLabel">
                    <img src="/image/logo/minit_logo.png">
                  </div>
                  <span>ID 찾기</span>
                  
                </div>
    
                <div class="modal-body">
                  <form action="/user/searchId" method="post" autocomplete="off">
                    <div class="mb-3">
                      <label for="userName" class="form-label">성명</label>
                      <input
                        type="text"
                        class="form-control"
                        name="userName"
                        id="userName"
                        placeholder="가입할 때 입력한 성명을 입력하세요!"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="userEmail" class="form-label">이메일</label>
                      <input
                        type="text"
                        class="form-control"
                        name="userEmail"
                        id="userEmail"
                        placeholder="가입할 때 입력한 이메일을 입력하세요!"
                      />
                    </div>
                </div>
                <div class="modal-footer">
                  <!--<button type="button" class="btn btn-primary">PW찾기</button>-->
                  <button type="submit" class="btn btn-outline-success">
                    ID찾기
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    data-bs-dismiss="modal"
                  >닫기
                  </button>
                </div>
    		   </form>
              </div>
            </div>
          </div>

        <!--pw 찾기모달창-->
          <div
          class="modal fade"
          id="findpwModal"
          tabindex="-1"
          aria-labelledby="findpwModalLabel"
          aria-hidden="true"
          >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              
              <div class="modal-header">
                <div class="modal-title" id="findpwModalLabel">
                  <img src="/image/logo/minit_logo.png">
                </div>
                <span>PW 찾기</span>
                
              </div>
  
              <div class="modal-body">
                <form name="findPwForm" action="/user/searchPw" method="post" autocomplete="off">
                  <div class="mb-3">
                    <label for="findUserId" class="form-label">아이디</label>
                    <input
                      type="text"
                      class="form-control"
                      id="findUserId"
                      placeholder="가입한 아이디를 입력하세요!"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="findUserEmail" class="form-label">이메일</label>
                    <input
                      type="text"
                      class="form-control"
                      id="findUserEmail"
                      placeholder="가입할 때 사용한 이메일을 입력하세요!"
                    />
                  </div>
                </form>
              </div>
  
              <div class="modal-footer">
                  <button
                  	style="display:none;"
                  	id="rePwAtag"
                    class="nav-link"
                    aria-current="page"
                    data-bs-toggle="modal"
                    data-bs-target="#findrepwModal"
                    ></button>
                <button type="button" class="btn btn-outline-success" id="findPw">
                  PW 찾기
                </button>
                <button
                  type="button"
                  
                  class="btn btn-outline-success"
                  data-bs-dismiss="modal"
                >닫기
                </button>

              </div>
  			 
            </div>
          </div>
        </div>

        
        <!--pw 재설정 모달창-->
        <div
        class="modal fade"
        id="findrepwModal"
        tabindex="-1"
        aria-labelledby="findrepwModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            
            <div class="modal-header">
              <div class="modal-title" id="findrepwModalLabel">
                <img src="/image/logo/minit_logo.png">
              </div>
              <span>PW 재설정</span>
              
            </div>
			
            <div class="modal-body">
              <form action="/user/updatePw" method="post" autocomplete="off">
                <div class="mb-3">
                 <input type="hidden" name="userId">
                  <label for="updateUserPw" class="form-label">새 비밀번호</label>
                  <input
                    type="password"
                    class="form-control"
                    name="userPw"
                    id="updateUserPw"
                    placeholder="사용할 비밀번호를 입력하세요!"
                  />
                  <p class="input-msg update-pw-check-msg none"></p>
                </div>
                <div class="mb-3">
                  <label for="updateUserRePw" class="form-label">새 비밀번호 확인</label>
                  <input
                    type="password"
                    class="form-control"
                    name="userRePw"
                    id="updateUserRePw"
                    placeholder="사용할 비밀번호를 한 번 더 입력하세요!"
                  />
                  <p class="input-msg update-repw-check-msg none"></p>
                </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success updatePw">
                PW 재설정
              </button>
              <button
                type="button"
                class="btn btn-outline-success"
                data-bs-dismiss="modal"
              >닫기
              </button>
              </form>
            </div>

          </div>
        </div>
      </div>

        
            
          </div>

        </div>
		</div>
	<script>
		$("#updateUserPw").on("keyup",function(){
			$("#updateUserPw").removeClass("required");
			$(".update-pw-check-msg").removeClass("none").removeClass("valid").removeClass("invalid");
			const userPw = $("#updateUserPw").val();
			console.log(userPw);
			const pwReg = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,16}$/;
			if(!pwReg.test(userPw)){
				$(".update-pw-check-msg").text("영문자+숫자+특수문자 조합으로 8~16글자 이내 작성해주세요.");
				$(".update-pw-check-msg").addClass("invalid");
			}else{
				$(".update-pw-check-msg").text("유효한 비밀번호 입니다.");
				$(".update-pw-check-msg").addClass("valid");
				$("#updateUserPw").addClass("required");
			}
		})
	
	    $("#updateUserRePw").on("change",function(){
			$("#updateUserRePw").removeClass("required");
			$(".update-repw-check-msg").removeClass("none").removeClass("valid").removeClass("invalid");
			const pwValue = $("#updateUserPw").val();
			const pwReValue = $("#updateUserRePw").val();
			console.log(pwValue);
			console.log(pwReValue);
			if(pwValue === pwReValue){
				$(".update-repw-check-msg").text("비밀번호가 일치합니다.");
				$(".update-repw-check-msg").addClass("valid");
				$("#updateUserRePw").addClass("required");
			}else{
				$(".update-repw-check-msg").text("비밀번호가 일치하지 않습니다.");
				$(".update-repw-check-msg").addClass("invalid");				
			}
		});
		
		//제대로 입력했는지 확인
    	$(".updatePw").on("click",function(){
    		const required = $(".required").length;
    		console.log(required);
    		if(required != 2){
    			alert("입력값을 제대로 작성해주세요"); 			
    			event.preventDefault(); //이벤트 방지 submit 안 넘어가고
    		}else {    			
    			location.href = "/user/updatePw";
    		}
    	})
		
		$("#findPw").on("click",function(){
			//document.getElementById('findPwForm').submit();
			const findUserId = $("#findUserId").val();
			const findUserEmail = $("#findUserEmail").val();
			console.log(userId);
			console.log(userEmail);
			$.ajax({
				url : "/user/ajaxFindUser",
				type : "get",
				data : {userId : findUserId,
						userEmail : findUserEmail
						},
				success : function(data){
					if(data == 1){
						console.log(1);
						$("[name=userId]").val(findUserId); //input으로 넘겨주기
						const rePw = $("#rePwAtag");
						
						swal({
							title : "정보 조회 성공",
							text : "비밀번호를 재설정해주세요.",
							icon : "success",
							closeOnClickOutside : false
						})
						.then(function(result){
							console.log(result);
							//창 꺼질 때 실행할 함수
							if(result == true){
								rePw.click();
							}
						});
					}else{
						swal({
							title : "정보 조회 실패",
							text : "아이디와 이메일이 일치하지 않습니다.",
							icon : "warning"
						});
					}
				},
				error : function(){
					console.log("에러 발생");
				}
			});
		});
		
		$
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>