<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/user/userStyle.css">
<head>
<meta charset="UTF-8">
<title>MINIT_mypage</title>

</head>
<body>
	<th:block th:include="common/header"></th:block>
	
		<div class="wrapper">
            <!--메인 컨텐츠 시작 -->
            <section>
                <div class="page-title">
                    	마이 페이지
                </div>
                <div class="my-info-wrap">
                    <form action="/user/update" method="post" autocomplete="off" enctype="multipart/form-data">
                        <table class="info-tbl">
                            <tr>
                                <th>프로필 사진</th>
                                <td width="530px">
                                  <div class="basic-img">
	                                <img class="img-show" th:src="${'/user/'+session.user.userImg}">                               
                                  </div>
                                  
	                              <div id="img-viewer" class="img-none">
	                                <img id="img-view">
	                              </div>
                                </td>
                                <td>
                                  <label for="upfile" class="img-change-btn">변경
                                	<input type="file" name="upfile" id="upfile" accept=".jpg,.png,.jpeg" onchange="loadImg(this);" style="display: none;">
                                  </label>
                                  <!-- <button type="button" class="img-change-btn">변경</button> -->
                                  <button type="button" class="img-delete-btn">기본이미지</button>
                                  <!-- <button type="button" class="img-delete-btn">기본이미지</button> -->
                                </td>
                            </tr>
                            <tr>
                                <th>아이디</th>
                                <td th:text="${session.user.userId}">아이디</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>
                                  <label for="userNick">사용자이름</label>
                                </th>
                                <td>
                                  <div class="input-item">
                                    <input type="text" name="userNick" id="userNick" th:value="${{session.user.userNick}}">
	                                <p class="input-msg nick-check-msg none"></p>
                                  </div>
                                </td>
                                <td>
	                              <button type="button" class="nick-check-btn">중복체크</button>
	                            </td>
                            </tr>
                            <tr>
                                <th>
                                  <label for="userInfo">소개글</label>
                                </th>
                                <td>
                                  <div class="input-item">
                                    <input type="text" name="userInfo" id="userInfo" th:value="${session.user.userInfo}" placeholder="소개글 입력란">
                                  </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>이름</th>
                                <td th:text="${session.user.userName}">이름</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td th:text="${session.user.userEmail}">이메일</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>비밀번호</th>
                                <td>
                                  <div class="input-item">
                                    <input type="password" name="userPw" id="userPw" th:value="${session.user.userPw}">
                                  </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>비밀번호 확인</th>
                                <td>
                                  <div class="input-item">
                                    <input type="password" name="userRePw" id="userRePw">
                                    <p class="input-msg pw-check-msg none"></p>
                                  </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>                                
                              <th>가입일</th>
                              <td th:text="${session.user.createDate}">가입일</td>
                              <td></td>
                            </tr>
                        </table>
                        <input type="hidden" name="userNo" th:value="${session.user.userNo}">
                        <div class="mypage-btn">
                          <button type="submit" class="btn-point1">정보수정</button>
                          <button type="button" class="btn-point2 delBtn">회원탈퇴</button>
                          <a th:if="${session.user.userLevel == 1}" href="/admin/warningMain" class="btn-point3">관리자 페이지로</a>
                        </div>
                    </form>
                </div>
                
            </section>
          </div>
        
		<script>
		$(".delBtn").on("click",function(){
			swal({
				title : "회원탈퇴",
				text : "탈퇴하시겠습니까?",
				icon : "warning",
				buttons : {
					cancle : {
						text : "취소",
						value : false,
						visible : true,
						className : "",
						closeModal : true
					},
					confirm : {
						text : "탈퇴",
						value : true,
						visible : true,
						className : "",
						closeModal : true
					}
				}
			}).then(function(isConfirm){
				if(isConfirm){
					location.href="/user/delete";					
				}
			});
		});
		

		$(".img-delete-btn").on("click",function(){
			$(".basic-img").addClass("img-show").removeClass("img-none");
			$("#img-viewer").removeClass("img-show").addClass("img-none");
			$("#upfile").val(null); //이벤트의 주체가 이거니까! 제대로 확인
		});
		
			function loadImg(obj){
				console.log(obj.files);
				if(obj.files.length != 0 && obj.files[0] != 0){
					const reader = new FileReader();
					reader.readAsDataURL(obj.files[0]);
					reader.onload = function(e){
						$(".basic-img").removeClass("img-show").addClass("img-none");
						$("#img-viewer").removeClass("img-none").addClass("img-show");
						console.log(1);
						$("#img-view").attr("src",e.target.result);
					}
					console.log(2); //이게 먼저
				}else{
					$(".basic-img").addClass("img-show").removeClass("img-none");
					$("#img-viewer").removeClass("img-show").addClass("img-none");
					$("#img-view").attr("src","");
				}
			}
		
			$(".nick-check-btn").on("click",function(){
				$(".nick-check-msg").removeClass("none").removeClass("valid").removeClass("invalid");
				const userNick = $("#userNick").val();
				console.log(userNick);
				$.ajax({
					url : "/user/ajaxCheckNick",
					type : "get",
					data : {userNick : userNick},
					success : function(data){
						if(data == 0){
							$(".nick-check-msg").text("사용 가능한 닉네임 입니다.");
							$(".nick-check-msg").addClass("valid");
						}else{
							$(".nick-check-msg").text("이미 사용중인 닉네임 입니다.");
							$(".nick-check-msg").addClass("invalid");
						}
					},
					error : function(){
						console.log("에러 발생");
					}
				});
			});
			$("#userRePw").on("change",function(){
				$(".pw-check-msg").removeClass("none");
				const pwValue = $("#userPw").val();
				const pwReValue = $("#userRePw").val();
				if(pwValue === pwReValue){
					$(".pw-check-msg").text("비밀번호가 일치합니다.");
					$(".pw-check-msg").addClass("valid");
				}else{
					$(".pw-check-msg").text("비밀번호가 일치하지 않습니다.");
					$(".pw-check-msg").addClass("invalid");				
				}
			});
		</script>
        
        
	<th:block th:include="common/footer"></th:block>
</body>
</html>