* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.wrapper section {
  flex: 1;
  position: relative; /* section 요소를 상대적으로 배치 */
  width: 1000px; /* 고정된 너비 설정 */
  max-width: 1000px;
  overflow: auto;
  margin-top: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  /* 부모 요소가 전체 높이를 가지도록 설정 */
  flex: 1; /* 스크롤바가 생기도록 설정 */
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding-top: 60px; /* header 높이 만큼 추가 */
  display: flex;
  align-items: center;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* header가 다른 요소들 위에 표시되도록 함 */
}

.navbar-expand-lg {
  height: 65px;
  border-bottom: 1px solid lightgrey;
}

.navbar-nav {
  font-weight: bold;
}
  
  /* 메인 콘텐츠 부분 */
  
  .carText {
    font-size: 30px;
    font-weight: 700;
  }
  
  .article-container {
    max-width: 900px;
    width: 1200px; /* 고정된 너비 설정 */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    overflow: auto; /* 스크롤바가 생기도록 설정 */
  }
  
  .card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 222px;
    height: 222px;
    transition: transform 0.3s ease; /* 애니메이션 추가 */
  }
  
  .card img {
    width: 80%;
    height: 80%;
    transition: transform 0.3s ease; /* 애니메이션 추가 */
  }
  
  .card:hover img {
    transform: scale(1.1); /* 이미지 확대 효과 */
  }
  
  section {
  }
  
  .photoUpload {
    margin-left: 60%;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 60px;
    z-index: 1000;
  }
  
  .photoUpload .nav {
    padding: 10px;
    border-radius: 30px;
    border: 0 solid darkgreen;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 50px;
    align-items: center;
    background-color: #d9eddf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 섀도우 추가로 입체감 부여 */
  }
  
  .uploadItem {
    font-size: 19px;
    color: black;
    text-decoration: none;
  }
  
  .randomPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 30px 0;
    padding: 20px;
    background-color: #75daa4;
    cursor: pointer;
    border-radius: 30px;
    border: 0 solid gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 섀도우 추가로 입체감 부여 */
  }
  
  
/* 메인 콘텐츠 끝 */
.bottom-navBar {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* 하단 내비게이션 바가 다른 요소들 위에 표시되도록 함 */
}

.bottom-navBar .nav {
  padding: 10px;
  border-radius: 30px;
  border: 0px solid darkgreen;
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 50px;
  align-items: center;
  background-color: #2cd37a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 섀도우 추가로 입체감 부여 */
}

.item {
  color: #f0f0f0; /* 밝은 회색으로 가독성 향상 */
  font-size: 19px; /* 텍스트 크기 조절 */
  text-decoration: none;
  font-weight: 700;
}

.item:hover {
  color: lightseagreen; /* 밝은 회색으로 가독성 향상 */
  font-size: 19px; /* 텍스트 크기 조절 */
  border-radius: 30px;
}

footer {
  background-color: white;
  width: 100%;
  font-size: 13px;
  border-top: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

footer div {
  margin-left: 30px;
  margin-block-end: 30px;
}

.navbar .mx-auto {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 40px;
}

.btn-outline-success {
  width: 80px;
  height: 40px;
}

@media (max-width: 992px) {
  .navbar .mx-auto {
    position: static;
    transform: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-fluid {
  margin-top: 8px;
}

.nav-link {
  border-bottom: 1px solid lightgrey;
}

.comment-section {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.comment-input {
  display: flex;
  margin-bottom: 10px;
}

.comment-input input {
  flex: 1;
  margin-right: 10px;
}

.comments-list {
  max-height: 200px;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.comment {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* 수정 및 삭제 버튼을 오른쪽으로 정렬 */
  margin-bottom: 10px;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
}

.commenter-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-actions {
  display: flex;
  align-items: center;
}

.comment-actions span {
  margin-left: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.comment-actions span:hover {
  text-decoration: underline;
}

#updateModal {
  z-index: 1060;
}

.ocean {
  background: #34bd72;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.wave {
  background: url("/wave.svg") repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.39, 0.48, 0.66, 0.56) infinite;
  transform: translate3d(0, 0, 0);
}
.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

.hidden {
  display: none;
}



  .button-style{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    border: none;
    background-color: #6DD19C;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 기본 그림자 */

  }
  .button-style:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); /* 호버 시 그림자 */

  }