  .button-style{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    border: none;
    background-color: #6DD19C;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 기본 그림자 */

  }
  .button-style:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); /* 호버 시 그림자 */

  }