<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Minit 프로젝트</title>
<link rel="stylesheet" href="/css/user/style.css">
<style>

</style>
</head>
<body>
<th:block th:include="common/header"></th:block>
    <div class="wrapper">
      <!--회원가입 모달창-->
      <div
        class="modal fade"
        id="loginModal"
        tabindex="-1"
        aria-labelledby="loginModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">로그인</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label">아이디</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="name@example.com"
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">비밀번호</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="비밀번호"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                닫기
              </button>
              <button type="button" class="btn btn-primary">로그인</button>
            </div>
          </div>
        </div>
      </div>
      <!--메인 컨텐츠 시작 -->
      <div class="sub1-contents">
        <a href ="/index" id="board">전체게시판</a>
        <a href="#">인기게시판</a>
        <a href="#">친구게시판</a>
      </div>
    <section>
        <div class="contents">
          <div class="main-contents">
            <p class="board-write">전체게시판</p>           
            <div class="main-contents-box" id="postContainer">
              <article class="post">
                <div class="post-header">
                  <h2 class="post-title">제목</h2>
                  <p class="post-meta">작성자 User1 · 10분 전</p>
                </div>
                <img src="image/smile.jpg" alt="게시글 이미지" class="post-image">
                <p class="post-content">내용입니다.</p>
                <div class="post-footer">
                  <span class="post-comment">댓글</span>
                  <span class="post-stat">조회수</span>
                </div>
              </article>
               <article class="post">
                <div class="post-header">
                  <h2 class="post-title">제목</h2>
                  <p class="post-meta">작성자 User1 · 10분 전</p>
                </div>
                <img src="image/smile.jpg" alt="게시글 이미지" class="post-image">
                <p class="post-content">내용입니다.</p>
                <div class="post-footer">
                  <span class="post-comment">댓글</span>
                  <span class="post-stat">조회수</span>
                </div>
              </article>
              <article class="post">
                <div class="post-header">
                  <h2 class="post-title">제목</h2>
                  <p class="post-meta">작성자 User1 · 10분 전</p>
                </div>
                <img src="image/smile.jpg" alt="게시글 이미지" class="post-image">
                <p class="post-content">내용입니다.</p>
                <div class="post-footer">
                  <span class="post-comment">댓글</span>
                  <span class="post-stat">조회수</span>
                </div>
              </article>
              <article class="post">
                <div class="post-header">
                  <h2 class="post-title">제목</h2>
                  <p class="post-meta">작성자 user1 · 10분 전</p>
                </div>
                <img src="image/smile.jpg" alt="게시글 이미지" class="post-image">
                <p class="post-content">내용입니다.</p>
                <div class="post-footer">
                  <span class="post-comment">댓글</span>
                  <span class="post-stat">조회수</span>
                </div>
              </article>
            </div>
          </div> 
          <div class="main-contents2">
            <div class="main-contents-box2">
              <article class="post">
                <div class="post-header">
                  <h2 class="post-title">제목</h2>
                  <p class="post-meta">작성자 user1 10분 전</p>
                </div>
                <img src="image/smile.jpg" alt="게시글 이미지" class="post-image">
                <p class="post-content">게시글내용</p>
                <div class="post-footer">
                  <span class="post-comment">댓글</span>
                  <span class="post-stat">조회수</span>
                </div>
              </article>
              <article class="post">
                <div class="post-header">
                  <h2 class="post-title">제목</h2>
                  <p class="post-meta">작성자 user1 10분 전</p>
                </div>
                <img src="image/smile.jpg" alt="게시글 이미지" class="post-image">
                <p class="post-content">내용</p>
                <div class="post-footer">
                  <span class="post-comment">댓글</span>
                  <span class="post-stat">조회수</span>
                </div>
              </article>
              <article class="post">
                <div class="post-header">
                  <h2 class="post-title">제목</h2>
                  <p class="post-meta">작성자 user1 10분 전</p>
                </div>
                <img src="image/smile.jpg" alt="게시글 이미지" class="post-image">
                <p class="post-content">내용입니다</p>
                <div class="post-footer">
                  <span class="post-comment">댓글</span>
                  <span class="post-stat">조회수</span>
                </div>
              </article>
              <article class="post">
                <div class="post-header">
                  <h2 class="post-title">제목</h2>
                  <p class="post-meta">작성자 user1 · 10분 전</p>
                </div>
                <img src="image/smile.jpg" alt="게시글 이미지" class="post-image">
                <p class="post-content">내용입니다</p>
                <div class="post-footer">
                  <span class="post-comment">댓글</span>
                  <span class="post-stat">조회수</span>
                </div>
              </article>
            </div>
          </div>
        </div>
        <button id="loadPosts">Load Posts</button>
      </section>
      <div class="sub2-contents">
        <a href="#">이자리는 광고가 들어올예정입니다.</a>
      </div>
      <div class="photoUpload">
        <ul class="nav">
          <li class="nav-item">
            <a class="uploadItem" aria-current="page" href="#">+</a>
          </li>
        </ul>
      </div>
    </div>
    <!--밑에 네비게이션 바-->
    <div class="bottom-navBar">
      <ul class="nav">
        <li class="nav-item">
          <a class="item" aria-current="page" href="#"
            ><i class="fa-solid fa-house"></i
          ></a>
        </li>
        <li class="nav-item">
           <a class="item" th:if="${session.user != null}" th:href="@{/feed/myPage(userFeedWriter=${session.user.userId})}"><i class="fa-solid fa-user"></i></a>
           <a class="item" th:if="${session.user ==null}" href="/"><i class="fa-solid fa-user"></i></a>
           
        
        </li>     
        <li class="nav-item">
          <a class="item" href="/text/textFeedList"><i class="fa-solid fa-newspaper"></i></i></a>
          <a class="item" href="#"><i class="fa-solid fa-newspaper"></i></a>
        </li>
        <li class="nav-item">
          <a class="item" href="#"><i class="fa-solid fa-camera"></i></a>
        </li>
      </ul>
    </div>
	
	
	<th:block th:include="common/footer"></th:block>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script>
     $("#board").click(function(event) {
         event.preventDefault(); // 링크의 기본 동작 방지

         // API 엔드포인트에서 데이터를 비동기적으로 가져옵니다.
         $.ajax({
             url: "/index", // API URL
             method: 'GET',
             success: function(data) { 
                 data.forEach(function(b) {                     
                     var postHtml = 
                         <article class="post">
                             <div class="post-header">
                                 <h2 class="post-title">${b.textFeedNo}</h2>
                                 <p class="post-meta">${b.textFeedCount} ${b.textFeedRegDate}</p>
                             </div>
                             <p class="post-content">${b.textFeedContent}</p>
                             <div class="post-footer">
                                 <span class="post-comment">댓글</span>
                                 <span class="post-stat">${b.textFeedWriter}</span>
                             </div>
                         </article>
                     ;                 
                 });
             },
             error: function() {                 
                 alert('데이터를 가져오는 데 실패했습니다.');
             }
         });
     });
 });
    </script>
    </body>
</html>