<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="/css/feed/feedStyle.css">
<link rel="stylesheet" href="/css/feed/list.css">
<link rel="stylesheet" href="/css/feed/followModal.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
   crossorigin="anonymous"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

<style>
.feed-list {
	margin-top: 100px;
}

.feed-list-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열 생성 */
    gap: 5px; /* 칸 사이의 간격 */
    width: 1200px;
    height: 700px;
    margin-top : 30px;
}

.feed-list-wrap img {
    width: 270px;
    height: 270px;
    display: block;
}

.feed-list-wrap img :hover{
    width: 270px;
    height: 270px;
    display: block;
}
.list-navi{
	margin-bottom: 50px;
}

</style>

<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>


<!-- 
페이지에서 받아야 하는 정보 
페이지 주인의 넘버, 유저의 아이디, 유저의 닉네임, 유저의 자기소개, 팔로워, 팔로잉, 게시물 갯수
페이지 넘겨줄때 페이지 주인의 아이디 / 1페이지 
 -->

	<main class="content">
		<section class="section feed-list">

			<div class="user-profile">
				<ul>

					<li class="user-profile-photo">
						<div>
							<img th:src="@{'/user/' + ${user.userImg}}" class="profile-image">
						</div>
					</li>
					<li>
						<div class="user-introduce">
							<ul>
								<li><span class="user-introduce-id" th:text="${user.userId}"></span></li> 
						
								<li><span class="user-introduce-nick" th:text="${user.userNick}"></span></li>
								<li><span class="user-introduce-content" th:text=${user.userInfo}></span></li>
							<!-- 
								<li><span th:text="${user.userId}" class="user-introduce-id"></span></li>
								<li><span th:text="${user.userNick}" class="user-introduce-nick"></span></li>
								<li><span th:text="${user.userInfo}" class="user-introduce-content"></span></li>
							 -->
							</ul>
						</div>
					</li>

					<li class="user-content">
						<div>
							<ul>
								<li>
									<div class="user-content-no">
										<ul>
											<li>
												<ul class="content-no">
													<li><span class="content-total-no" th:text="${totalCount}"></span></li>
													<li>게시물</li>
												</ul>
											</li>
											<li>
												<ul class="content-no">
													<a href="#" id="openFollowModal"><li><span
															class="follow-total-no" th:text="${follower.userFeedCount}"></span></li>
														<li>팔로워</li></a>
												</ul>
											</li>
											<li>
												<ul class="content-no">
													<a href="#" id="openFollowingModal"><li><span
															class="following-total-no" th:text="${following.userFeedCount}"></span></li>
														<li>팔로잉</li></a>
													<!--내가 친구-->
												</ul>
											</li>
										</ul>
									</div> <!-- 팔로워 모달 -->
									<div id="followModal" class="modal">
										<div class="modal-content">   
											<span class="close" id="closeFollowModal">&times;</span>
											<div class="modal-header">팔로워 목록</div>
											<div class="modal-body" id="followList">
												<!-- 팔로워 리스트 항목들 -->
												<th:block th:each="item : ${followerList}">
													<p>
														<a th:href="@{/feed/myPage(userFeedWriter=${item.userId})}">
															<img src="/user/${item.userImg}">
															<span class="user-id" th:text="${item.userId}"></span>
														</a>
													</p>
												</th:block>
											
											</div>
										</div>
									</div> <!-- 팔로잉 모달 -->
									<div id="followingModal" class="modal">
										<div class="modal-content">
											<span class="close" id="closeFollowingModal">&times;</span>
											<div class="modal-header">팔로잉 목록</div>
											<div class="modal-body" id="followingList">
												<!-- 팔로잉 리스트 항목들 -->
												<th:block th:each="item : ${followingList}">
													<p>
														<a th:href="@{/feed/myPage(userFeedWriter=${item.userId})}">
															<img src="/user/${item.userImg}">
															<span class="user-id" th:text="${item.userId}"></span>
														</a>	
													</p>
												</th:block>
											</div>
										</div>
									</div>
								</li>

								<li class="user-content-repository">
									<div>							 	<!-- th:if="${session.user != null && session.user.userNo == u.userNo}" -->
										
										<a href="/feed/writeForm">
											<button th:if="${session.user != null && session.user.userId == user.userId}" class="button-style" id="write-feed">
											피드작성
											</button>
										</a>
											<button th:if="${session.user != null && session.user.userId == user.userId}" class="button-style" id="storage" th:onclick="storage(this,[[${user.userId}]])">
											보관함
											</button>
									   	<button th:if="${followBtn == 0 && session.user.userId != user.userId}" th:value="${followBtn}" class="button-style" id="follow-btn" th:onclick="userFollow(this,[[${session.user.userId}]],[[${user.userId}]])">팔로우</button>
									   	
									   	<button th:if="${followBtn == 1 && session.user.userId != user.userId}" th:value="${followBtn}" class="button-style" id="follow-btn" th:onclick="userFollow(this,[[${session.user.userId}]],[[${user.userId}]])">팔로우취소</button>
										<button th:if="${followBtn == -1 && session.user == null}" class="button-style none-login" id="follow-btn" onclick="noneLogin()">팔로우</button>
								
								</div>
									</li>
							</ul>
						</div>

					</li>

				</ul>
			</div>
			
			<div class="feed-list-wrap">


			 <th:block th:each="item : ${list}">
       			 <ul>
          			  <li>
           			     <a th:href="@{/feed/view?(userFeedNo=${item.userFeedNo})}">
                 		   <img th:src="${item.userFeedFilepath}" alt="photo"/>
           			     </a>
        			   </li>
     			 </ul>
			</th:block>
			</div>
			
			
            
            <div class="more-button-container" id="more-button-container">
                <ul class="more-feed">
                </ul>
            </div>
			<div class="list-navi" th:utext="${pageNavi}"></div>
			<button class="button-style hidden" id="more" onclick="loadStoredPhotos([[${user.userId}]])">더보기</button>
			<input type="hidden" class="totalCount"></

		</section>
	
	</main>
	<script src="/js/feed/followModal.js"></script>

<script th:inline="javascript">


    function storage(element, userId) {
        $.ajax({
            url: '/feed/userStorage',
            type: 'post',
            data: { userId: userId },
            dataType : "json",
            success: function(data) {
                //console.log("성공성공");
                // 기존 버튼을 히든으로 변경
                $(element).hide(); // 기존 버튼을 히든으로 설정

                // 새로운 버튼을 추가
                $(element).after('<a href="/feed/myPage?userFeedWriter=' + userId + '"><button class="button-style">개인피드이동</button></a>');
                // 기존 사진과 내비게이션을 제거
                $('.feed-list-wrap').children().remove();
                $('.list-navi').remove();
				$('#more').removeClass('hidden');
                // 보관함에서 저장된 사진을 불러옴
     			for(let i = 0; i < data.length; i++){
     				const p = data[i];
     				const li = $("<li>");
					li.addClass("posting-item");
					//<li class="posting-item"></li>
					
					const imgDiv = $("<div>");
					imgDiv.addClass("posting-img");
					//<div class="posting-img"></div>
					
					const img = $("<img>");
					img.attr("src","/feed/"+p.userFeedFilepath);
					//<img src="db로 조회한 이미지경로">
					
					 imgDiv.append(img);
					 /*
					 <div class="posting-img">
					 	<img src="db로 조회한 이미지경로">
					 </div>
					 */
					 
					 const infoDiv = $("<div>");
					 infoDiv.addClass("posting-info");
					 //<div class="posting-info"></div>
					 
					 const titleDiv =$("<div>");
					 titleDiv.addClass("posting-title");
					 titleDiv.text(p.userFeedContent);
					 //<div class="posting-title"><db로 조회한 제목</div>
					 
					 const subInfoDiv = $("<div>");
					 subInfoDiv.addClass("posting-sub-info");
					 //<div class="posting-sub-info"></div>
					 
    				 const writerSpan = $("<span>");
					 writerSpan.text(p.userFeedWriter);
					 //<span>db로 조회한 작성자</span>
					 
					 subInfoDiv.append(writerSpan);
					 /*
					 <div class="posting-sub-info">
					 		<span>db로 조회한 작성자</span>
					 </div>
					 */
					 infoDiv.append(titleDiv).append(subInfoDiv);
					 /*
					 <div class="posting-info">
					 		<div class="posting-title"><db로 조회한 제목</div>
					 		<div class="posting-sub-info">
						 		<span>db로 조회한 작성자</span>
							</div>
					 </div>
					 */
					 li.append(imgDiv).append(infoDiv);
					 /*
					 <li class="posting-item">
					 	 <div class="posting-img">
					 		 <img src="db로 조회한 이미지경로">
						 </div>
						 <div class="posting-info">
					 		 <div class="posting-title"><db로 조회한 제목</div>
					 		 <div class="posting-sub-info">
						 	     <span>db로 조회한 작성자</span>
							 </div>
						 </div>
					 </li>
					 */
					 $(".more-feed").append(li);
			
     			}
                //loadStoredPhotos(userId);
            },
            error: function() {
                console.log("에러에러");
            }
        });
    }

    function loadStoredPhotos (userId, totalCount) {
        $.ajax({
            url: '/feed/userStorageFeed', 
            type: 'get',
            data: { userId: userId },
            success: function(data) {
                console.log(data);
                if (data.length === 0) {
                    // 사진이 없으면 '더보기' 버튼을 숨김
                    $('#more-btn').hide();
                }

                const photoWrapper = $('.feed-list-wrap');
                for (let i = 0; i < data.length; i++) {
                    const p = data[i];
                    const li = $('<li>').addClass('posting-item');
                    
                    const imgDiv = $('<div>').addClass('posting-img');
                    const img = $('<img>').attr('src', '/photo/' + p.photoImg);
                    imgDiv.append(img);

                    const infoDiv = $('<div>').addClass('posting-info');
                    const titleDiv = $('<div>').addClass('posting-title').text(p.photoTitle);
                    const subInfoDiv = $('<div>').addClass('posting-sub-info');
                    const writerSpan = $('<span>').text(p.photoWriter);
                    subInfoDiv.append(writerSpan);
                    infoDiv.append(titleDiv).append(subInfoDiv);

                    li.append(imgDiv).append(infoDiv);
                    photoWrapper.append(li);
                }

                // '더보기' 버튼의 동작 설정
                $('#more-btn').show(); // '더보기' 버튼을 다시 보이게 함
                currentCount = data.length;
                start = currentCount + 1; // 다음 요청의 시작번호 설정
            },
            error: function() {
                console.log("사진 로딩 실패");
            }
        });
    }

    function userFollow(button, loginUser, writerUser) {
        if ($(button).val() == 1) {
            // 팔로우 취소 요청
            $.ajax({
                url: '/feed/userFollowCancel',
                type: 'POST',
                data: { loginUser: loginUser, writerUser: writerUser },
                success: function(response) {
                    $(button).text('팔로우');
                    $(button).data('btn-num', 0);
                    $(button).val(0);
                    $('.follow-total-no').text(response);
                },
                error: function(xhr, status, error) {
                    console.error('팔로우 취소 요청 실패:', error);
                }
            });
        } else if ($(button).val() == 0) {
            // 팔로우 요청
            $.ajax({
                url: '/feed/userFollow',
                type: 'POST',
                data: { loginUser: loginUser, writerUser: writerUser },
                success: function(response) {
                    $(button).text('팔로우 취소');
                    $(button).data('btn-num', 1);
                    $(button).val(1);
                    const followNo = $('.follow-total-no').text();
                    $('.follow-total-no').text(response);
                },
                error: function(xhr, status, error) {
                    console.error('팔로우 요청 실패:', error);
                }
            });
        }
    }

    // '더보기' 버튼 클릭 시 추가 게시물 로드
 

	


	function noneLogin(){
		 swal({
             title: "로그인을 해주세요",
             text: "로그인을 해야 서비스 이용이 가능합니다.",
             icon: "warning"
         });
	}
	
	$('.write-feed').on('click', function() {
		window.location.href = '/feed/writeForm'
	})
</script>
	  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
	<th:block th:include="common/footer"></th:block>
	<script src="/js/feed/followModal.js"></script>
	
</body>
</html>