<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script defer src="index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/css/feed/feedStyle.css" />
<link rel="stylesheet" href="/css/feed/view.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.content-info {
	margin-top: 150px;
}

.slides-img img {
	width: 100%;
	height: 100%;
}
</style>
</head>

<body>
	<th:block th:include="common/header"></th:block>

	<div class="content-wrap">
		<!-- 컨텐츠 정보 받아오는 곳 -->
		<div class="content-info">
			<table class="content-info-table">
				<tr class="user-image icon-size">
					<td><img src="image/profilePhoto.jfif" alt="Profile Photo"></td>
					<td class="user-nick" th:text="${feed.userFeedWriter}"></td>
					<td class="date" th:text="${feed.userFeedDate}"></td>
				</tr>
				<tr class="content-imgs">
					<td colspan="3">
						<div class="slider-img">
							<div class="slides-img">
								<th:block th:each="item : ${list}">
									<img class="slide-img" th:src="${item.userFeedFilepath}" alt="photo" />
								</th:block>
							</div>
							<button class="nav-button-img prev-img" onclick="prevSlide()">❮</button>
							<button class="nav-button-img next-img" onclick="nextSlide()">❯</button>
						</div>
					</td>
				</tr>

				<tr class="icons-row">
					<td colspan="2">
						<div class="left-icons">
							<span class="material-icons toggle-icon" id="icon">bookmark_border</span>
							<span class="material-icons toggle-icon" id="icon">favorite_border</span>
						</div>
					</td>
					<td><span class="material-icons toggle-icon" id="icon">report_gmailerrorred</span>
					</td>
				</tr>
				<tr class="peed-content">
					<td th:utext="${feed.userFeedContent}"></td>
				</tr>
				<tr>
					<td colspan="3" class="chat-icon">
					<span class="material-icons" id="icon">add_comment</span></td>
				</tr>
			</table>
		</div>

		<!--댓글 창 : chat icon 누르면 열리도록-->
		<div class="inputCommentBox hidden">
	    <div class="form-wrap">
	      <ul>
	        <li class="comment-user-container">
	          <img src="image/profilePhoto.jfif" alt="user-image" class="comment-user">
	        </li>
	        <li class="comment-input-container">
	         <!--  <input type="hidden" name="feedCommentWriter" value="아이디"> -->
	          <input type="hidden" name="feedCommentWriterNo" value="{feed.userFeedNo}">
	          <input type="hidden" name="userFeedNo" class="userFeedNo" th:value="${feed.userFeedNo}">
	          <input type="hidden" name="userId" class="userId" th:value="${session.user.userId}">
	          <div class="input-item">
	            <textarea name="feedCommentContent" class="feedCommentContent"></textarea>
	          </div>
	       		</li>
	        	<li class="comment-button-container">
	          <button class="btn-primary sendComment">등록</button>
	        </li>
	      </ul>
	    </div>

		<div class="comment-wrap">
			<table>
				<tr>
					<td style="width: 10%;"><a href="#">
					<img src="image/profilePhoto.jfif" alt="" class="comment-user"></a>
					</td>
					<td style="width: 70%;"><span>feed-comment</span></td>
					<td style="width: 20%;"><span
						class="material-icons toggle-icon" id="icon-favorite">favorite_border</span>
						<!--댓글 주인이 아닌 유저에게는 신고하기 버튼--> <!-- <span class="material-icons toggle-icon" id="icon-report">report_gmailerrorred</span> -->
						<!-- 댓글 주인에게는 수정/삭제 버튼 점세개 누르면 옆으로 나오게 --> <span
						class="material-icons toggle-icon" id="icon-more">more_vert</span>
					</td>
					<td>
						<div id="icon-container" class="hidden">
							<span class="material-icons">edit_document</span> <span
								class="material-icons">folder_delete</span>
						</div>

					</td>
					</td>
				</tr>

			</table>
		</div>
		</div>
		<!-- 수정 / 삭제 버튼 : 로그인한 유저의 글에만 보임-->
		<div class="btn-wrap">
			<ul>
				<li>
					<button class="button-style" th:if="${session.user.userId == feed.userFeedWriter}" th:onclick="feedUpdate([[${feed.userFeedNo}]],[[${feed.userFeedWriter}]])">수정</button> 
				</li>
				<li>
					<button class="button-style"
						th:if="${session.user.userId == feed.userFeedWriter}" th:onclick="feedDelete([[${feed.userFeedNo}]])">삭제</button>
				</li>
			</ul>
		</div>
		

		</section>

	<script src="/js/feed/view.js"></script>
	<script>
	$(document).on("click", ".sendComment", function(){
		  const feedCommentContent = $(".feedCommentContent").val();
	      const feedRef = $(".userFeedNo").val();

	      // 콘솔 로그로 값 확인
	      console.log("feedCommentContent: " + feedCommentContent);
	      console.log("feedRef: " + feedRef);
	      
		  if(feedCommentContent.trim() === ""){
		      alert("글을 입력해주세요"); // 오타 수정
		      return; // 입력이 비어 있으면 함수 종료
		  }

		  $.ajax({
		      url: '/feed/commentWrite', // 서버의 댓글 처리 URL 
		      type: 'post',
		      data: {
		    	  feedCommentContent : feedCommentContent,
		    	  feedRef : feedRef
		      },
		      dataType: "json",
		      success: function(data) {
		    	  console.log(data);
		          // 성공적으로 댓글이 저장된 후 댓글 목록을 갱신하거나, 댓글을 추가
		          $(".comment-wrap").prepend(`
		        		  <tr>
							<td style="width: 10%;"><a href="/feed/myPage/userFeedWriter=${data.feedCommentWriter}">
							<img src="/user/${data.userImg}" alt="" class="comment-user"></a>
							</td>
							<td style="width: 70%;"><span>${data.feedCommentContent}</span></td>
							<td style="width: 20%;"><span
								class="material-icons toggle-icon" id="icon-favorite">favorite_border</span>
								<!--댓글 주인이 아닌 유저에게는 신고하기 버튼--> <!-- <span class="material-icons toggle-icon" id="icon-report">report_gmailerrorred</span> -->
								<!-- 댓글 주인에게는 수정/삭제 버튼 점세개 누르면 옆으로 나오게 --> <span
								class="material-icons toggle-icon" id="icon-more">more_vert</span>
							</td>
							<td>
								<div id="icon-container" class="hidden">
									<span class="material-icons">edit_document</span> <span
										class="material-icons">folder_delete</span>
								</div>

							</td>
							</td>
						</tr>
		          `);
		          $(".feedCommentContent").val(''); // 댓글 입력 필드 비우기
		      },
		      error: function() {
		          console.log('댓글 저장 실패:');
		          alert('댓글을 달수 없습니다. 다시 시도해 주세요.');
		      }
		 })
	});
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>