<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>피드 보기</title>
<script defer src="index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/css/feed/feedStyle.css" />
<link rel="stylesheet" href="/css/feed/view.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.content-info {
	margin-top: 150px;
}

.slides-img img {
	width: 100%;
	height: 100%;
}

.edit-comment-box button{
	width: 100px;
	width: 60px;
}
.comment-input-container{
	margin-left : 10px;
	margin: 0 auto;
}
/* 댓글을 감싸는 tr 요소에 간격을 추가 */
.comment-wrap table tr {
    margin-bottom: 15px; /* 댓글 사이의 간격 조절 */
}
/* 댓글 내용에 여백을 추가 */
.comment-wrap table td {
    padding-bottom: 10px; /* 댓글 내용과 댓글 사이의 간격 조절 */
    height: 80px;
}

/* 댓글 수정/삭제 버튼과 댓글 내용 사이에 여백 추가 */
.comment-wrap .btn-wrap {
    margin-top: 10px; /* 버튼과 댓글 내용 사이의 간격 조절 */
}
.updatebtn{
	width: 100px;
	height: 70px;
	background-color: #6DD19C;
	border: none;
	border-radius: 15%;
	color : white;
	margin-right: 1px;
}
.comment-user{
	width: 40px;
	height: 40px;
}


</style>
</head>

<body>
	<th:block th:include="common/header"></th:block>

	<div class="content-wrap">
		<!-- 컨텐츠 정보 받아오는 곳 -->
		<div class="content-info">
			<table class="content-info-table">
				<tr class="user-image icon-size">
					<td>
					<a th:href="@{/feed/myPage(userFeedWriter=${feed.userFeedWriter})}">
					<img th:src="${feed.userFeedFilepath}" alt="Profile Photo">
					</a>
					</td>
					<td class="user-nick" th:text="${feed.userFeedWriter}"></td>
					<td class="date" th:text="${feed.userFeedDate}"></td>
				</tr>
				<tr class="content-imgs">
					<td colspan="3">
						<div class="slider-img">
							<div class="slides-img">
								<th:block th:each="item : ${list}">
									<img class="slide-img" th:src="${item.userFeedFilepath}" alt="photo" />
								</th:block>
							</div>
							<th:block th:if="${list.size > 1}">
							<button class="nav-button-img prev-img" onclick="prevSlide()">❮</button>
							<button class="nav-button-img next-img" onclick="nextSlide()">❯</button>
							</th:block> 
						</div>
					</td>
				</tr>

				<tr class="icons-row">
					<td colspan="2">
						<div class="left-icons">
							<span th:if="${feed.isRepository == -1}" class="material-icons toggle-icon" id="icon" th:attr="data-is-like=${feed.isRepository}" th:onclick="feedRepo(this,[[${feed.userFeedNo}]])">bookmark_border</span>	
							<span th:if="${session.user.userId != null && feed.isRepository == 0}" class="material-icons toggle-icon" id="icon" th:attr="data-is-like=${feed.isRepository}" th:onclick="feedRepo(this,[[${feed.userFeedNo}]])">bookmark_border</span>							
							<span th:if="${session.user.userId != null && feed.isRepository == 1}" class="material-icons toggle-icon" id="icon" th:attr="data-is-like=${feed.isRepository}" th:onclick="feedRepo(this,[[${feed.userFeedNo}]])">bookmark</span>							
													
							<span th:if="${session.user.userId != feed.userFeedWriter && feed.isLike == -1}" class="material-icons toggle-icon" id="icon" th:attr="data-is-like=${feed.isLike}"  th:onclick="feedLike(this,[[${feed.userFeedNo}]])">favorite_border</span>
							<span th:if="${session.user.userId != feed.userFeedWriter && feed.isLike == 0}" class="material-icons toggle-icon" id="icon" th:attr="data-is-like=${feed.isLike}"  th:onclick="feedLike(this,[[${feed.userFeedNo}]])">favorite_border</span>
							<span th:if="${session.user.userId != feed.userFeedWriter && feed.isLike == 1}" class="material-icons toggle-icon" id="icon" th:attr="data-is-like=${feed.isLike}"  th:onclick="feedLike(this,[[${feed.userFeedNo}]])">favorite</span>		
						</div>
					</td>
					<td>
					<span th:if="${feed.isReport == -10}" class="material-icons toggle-icon" id="icon"  th:onclick="feedReport(this,[[${feed.userFeedNo}]])">report_gmailerrorred</span>
					<span th:if="${session.user.userId != feed.userFeedWriter && feed.isReport == 0}" class="material-icons toggle-icon" id="icon" th:value="${feed.isReport}" th:onclick="feedReport(this,[[${feed.userFeedNo}]])">report_gmailerrorred</span>
					<span th:if="${session.user.userId != feed.userFeedWriter && feed.isReport == 1}" class="material-icons toggle-icon" id="icon" th:value="${feed.isReport}" th:onclick="feedReport(this,[[${feed.userFeedNo}]])">report</span>
					</td>
				</tr>
				<tr class="peed-content">
					<td th:utext="${feed.userFeedContent}"></td>
				</tr>
				<tr>
					<td colspan="3" class="chat-icon">
					<span class="material-icons" id="icon" onclick="toggle(this)">add_comment</span></td>
				</tr>
			</table>
		</div>

		<!--댓글 창 : chat icon 누르면 열리도록-->
		<div class="inputCommentBox hidden">
		<th:block th:if="session.user!=null">
	    <div class="form-wrap">
	      <ul>
	        <li class="comment-input-container">
	         <!--  <input type="hidden" name="feedCommentWriter" value="아이디"> -->
	          <input type="hidden" name="feedCommentWriterNo" value="{feed.userFeedNo}">
	          <input type="hidden" name="userFeedNo" class="userFeedNo" th:value="${feed.userFeedNo}">
	          <input type="hidden" name="userId" class="userId" th:value="${session.user.userId}">
	          <div class="input-item">
	            <textarea name="feedCommentContent" class="feedCommentContent"></textarea>
	          </div>
	       		</li>
	        	<li class="comment-button-container">
	          <button class="btn-primary sendComment">등록</button>
	        </li>
	      </ul>
	      </th:block>
		<!-- 댓글 출력 -->
		<div class="comment-wrap">
		<th:block th:each="fc : ${feed.feedComment} ">
			<table>
				<tr>
					<td style="width: 10%;">
					<a th:href="@{/feed/myPage(userFeedWriter=${fc.feedCommentWriter})}">
						<img th:src="@{'/user/' + ${fc.userImg}}" alt="" class="comment-user">
					</a>
					</td>
					<td  colspan="2" style="width: 75%;">
						<span th:text="${fc.feedCommentContent}"></span>
					</td>
					<td style="width: 15%;">
						<th:block th:if="${session.user.userId == null}">
							<span class="material-icons toggle-icon" id="icon-favorite" onclick="noneLoginComment()">favorite_border</span>						
						</th:block>
						<th:block th:if="${fc.feedCommentWriter != session.user.userId}">
							<span th:if="${fc.isLike} == 1" class="material-icons toggle-icon" id="icon-favorite" th:attr="data-is-like=$ {fc.isLike}" th:onclick=commentLike(this,[[${fc.feedCommentNo}]])>favorite</span>						
							<span th:if="${fc.isLike} == 0" class="material-icons toggle-icon" id="icon-favorite" th:attr="data-is-like=${fc.isLike}" th:onclick=commentLike(this,[[${fc.feedCommentNo}]])>favorite_border</span>							
						</th:block>
						<th:block th:if="${fc.feedCommentWriter} == ${session.user.userId}">
							<span class="material-icons" onclick="updateHidden(this)" >edit_document</span> 
							<span class="material-icons" th:onclick="feedCommentDelete(this,[[${fc.feedCommentNo}]])">folder_delete</span>
						</th:block>
					</td>
				</tr>	
				<tr class="edit-comment-box hidden" >
				
            		<td colspan="3" style="width: 70%;">
            			 <textarea name="feedCommentContent" class="feedCommentContent" th:utext="${fc.feedCommentContent}"></textarea>
               		</td>
               		<td colspan="1" style="width: 15%;">
               			 <button class="updatebtn" th:onclick="commentUpdateBtn(this, [[${fc.feedCommentNo}]])">저장</button>
               			 <button class="updatebtn" onclick="commentUpdateCancleBtn(this)">취소</button>
               		</td>
 
				</tr>
			</table>
		</th:block>			
		</div>
	</div>
		</div>
		<!-- 수정 / 삭제 버튼 : 로그인한 유저의 글에만 보임-->
		<div class="btn-wrap">
			<ul>
				<li>
					<button class="button-style" th:if="${session.user.userId == feed.userFeedWriter}" th:onclick="feedUpdate([[${feed.userFeedNo}]],[[${feed.userFeedWriter}]])">수정</button> 
				</li>
				<li>
					<button class="button-style" th:if="${session.user.userId == feed.userFeedWriter}" th:onclick="feedDelete([[${feed.userFeedNo}]])">삭제</button>
				</li>
			</ul>
		</div>
	</div>

	<script>
	function feedRepo(element,userFeedNo){
		const isrepo = $(element).data('is-like');
		//console.log(isrepo);
		if(isrepo == 0){
			swal({
	            title: "보관함",
	            text: "보관함에 넣겠습니까?",
	            icon: "warning",
	            buttons: {
	                cancel: {
	                    text: "취소",
	                    value: false,
	                    visible: true,
	                    className: "btn-secondary",
	                    closeModal: true
	                },
	                confirm: {
	                    text: "보관",
	                    value: true,
	                    visible: true,
	                    className: "btn-point",
	                    closeModal: true
	                }
	            }
	        }).then(function(isConfirm) {
	            if (isConfirm) {
	            	 if(isrepo == 0){
	        	    	 $.ajax({
	        	              url: "/feed/repoIn",
	        	              type: "post",
	        	              data: {
	        	            	  userFeedNo: userFeedNo
	        	              },
	        	              success: function(data) {
	        	                   $(element).text('bookmark');
	        	                   $(element).data('is-like', 1); // 실제 HTML의 data-is-like 속성 업데이트
	        	                },
	        	               error: function() {
	        	                   swal({
	        	                      title: "서버 연결 실패",
	        	                      text: "문제가 발생했습니다. 잠시 후 다시 시도해주세요.",
	        	                      icon: "warning"
	        	                   });
	        	                }
	        	         });
	        	    }
	            }
	        });
		}else if(isrepo == 1){
			 swal({
		            title: "보관함",
		            text: "보관함 취소 하시겠습니까?",
		            icon: "warning",
		            buttons: {
		                cancel: {
		                    text: "취소",
		                    value: false,
		                    visible: true,
		                    className: "btn-secondary",
		                    closeModal: true
		                },
		                confirm: {
		                    text: "보관",
		                    value: true,
		                    visible: true,
		                    className: "btn-point",
		                    closeModal: true
		                }
		            }
		        }).then(function(isConfirm) {
		            if (isConfirm) {
		            	 if(isrepo == 1){
		        	         $.ajax({
		        	              url: "/feed/repoOut",
		        	              type: "post",
		        	              data: {
		        	            	  userFeedNo: userFeedNo
		        	              },
		        	              success: function(data) {
		        	                   $(element).text('bookmark_border');
		        	                   $(element).data('is-like', 0); // 실제 HTML의 data-is-like 속성 업데이트
		        	              },
		        	              error: function() {
		        	                   swal({
		        	                      title: "서버 연결 실패",
		        	                      text: "문제가 발생했습니다. 잠시 후 다시 시도해주세요.",
		        	                      icon: "warning"
		        	                   });
		        	                }
		        	         });
		        	    } 
		            }
		        });
		}else{
			swal({
	        	 title: "에러",
                text: "관리자에게 문의해주세요",
                icon: "info"
	        });
		}
	    
	}
	function commentLike(element, feedCommentNo){
		const isLike = $(element).data('is-like');
		//console.log(isLike);
	    if(isLike == 1){
	         $.ajax({
	              url: "/feed/commentLikeCancel",
	              type: "post",
	              data: {
	            	  feedCommentNo: feedCommentNo
	              },
	              success: function(data) {
	                   $(element).text('favorite_border');
	                   $(element).data('is-like', 0); // 실제 HTML의 data-is-like 속성 업데이트
	              },
	              error: function() {
	                   swal({
	                      title: "서버 연결 실패",
	                      text: "문제가 발생했습니다. 잠시 후 다시 시도해주세요.",
	                      icon: "warning"
	                   });
	                }
	         });
	    } else if(isLike == 0){
	    	 $.ajax({
	              url: "/feed/commentLike",
	              type: "post",
	              data: {
	            	  feedCommentNo: feedCommentNo
	              },
	              success: function(data) {
	                   $(element).text('favorite');
	                   $(element).data('is-like', 1); // 실제 HTML의 data-is-like 속성 업데이트
	                },
	               error: function() {
	                   swal({
	                      title: "서버 연결 실패",
	                      text: "문제가 발생했습니다. 잠시 후 다시 시도해주세요.",
	                      icon: "warning"
	                   });
	                }
	         });
	    }
	}
	function feedLike(element,userFeedNo){
		const isLike = $(element).data('is-like');
		//console.log(isLike);
	    if (isLike == -1) {
	        swal({
	        	 title: "로그인 필요",
                 text: "로그인 후 이용해 주세요",
                 icon: "info"
	        });
	    } else if(isLike == 1){
	         $.ajax({
	              url: "/feed/isLikeCancel",
	              type: "post",
	              data: {
	                  userFeedNo: userFeedNo
	              },
	              success: function(data) {
	                   $(element).text('favorite_border');
	                   $(element).data('is-like', 0); // 실제 HTML의 data-is-like 속성 업데이트
	              },
	              error: function() {
	                   swal({
	                      title: "서버 연결 실패",
	                      text: "문제가 발생했습니다. 잠시 후 다시 시도해주세요.",
	                      icon: "warning"
	                   });
	                }
	         });
	    } else if(isLike == 0){
	    	 $.ajax({
	              url: "/feed/isLike",
	              type: "post",
	              data: {
	                  userFeedNo: userFeedNo
	              },
	              success: function(data) {
	                   $(element).text('favorite');
	                   $(element).data('is-like', 1); // 실제 HTML의 data-is-like 속성 업데이트
	                },
	               error: function() {
	                   swal({
	                      title: "서버 연결 실패",
	                      text: "문제가 발생했습니다. 잠시 후 다시 시도해주세요.",
	                      icon: "warning"
	                   });
	                }
	         });
	    }
	}
	
	function feedReport(element,userFeedNo){
		const isReport = $(element).val();
	    if (isReport == 1) {
	        swal({
	            title: "이미 신고된 게시물입니다.",
	            text: "신고 조치중 입니다. 잠시만 기다려 주세요.",
	            icon: "warning"
	        });
	    } else if(isReport == -1) {
	    	swal({
	            title: "이미 신고된 게시물입니다.",
	            text: "신고 조치중 입니다. 잠시만 기다려 주세요.",
	            icon: "warning"
	        });
	    }
	    else {
	        swal({
	            title: "신고",
	            text: "해당 게시물을 신고하시겠습니까?",
	            icon: "warning",
	            buttons: {
	                cancel: {
	                    text: "취소",
	                    value: false,
	                    visible: true,
	                    className: "btn-secondary",
	                    closeModal: true
	                },
	                confirm: {
	                    text: "신고",
	                    value: true,
	                    visible: true,
	                    className: "btn-point",
	                    closeModal: true
	                }
	            }
	        }).then(function(isConfirm) {
	            if (isConfirm) {
	                $.ajax({
	                    url: "/feed/reportFeed",
	                    type: "post",
	                    data: {
	                        userFeedNo: userFeedNo
	                    },
	                    success: function(data) {
	                        if (data == -10) {
	                            swal({
	                                title: "로그인 필요",
	                                text: "로그인 후 이용해 주세요",
	                                icon: "info"
	                            });
	                        } else if (data == 1) {
	                            swal({
	                                title: "신고 성공",
	                                text: "신고가 접수되었습니다.",
	                                icon: "success"
	                            });
	                            $(element).text('report');
	                            $(element).val(1);
	                        } else {
	                            swal({
	                                title: "신고 실패",
	                                text: "문제가 발생했습니다. 잠시 후 다시 시도해주세요.",
	                                icon: "warning"
	                            });
	                        }
	                    },
	                    error: function() {
	                        swal({
	                            title: "서버 연결 실패",
	                            text: "문제가 발생했습니다. 잠시 후 다시 시도해주세요.",
	                            icon: "warning"
	                        });
	                    }
	                });
	            }
	        });
	    }
	}
	
	function commentUpdateBtn(element, feedCommentNo){
	    const updatedContent = $(element).closest('tr').find('.feedCommentContent').val();
		 $.ajax({
		      url: '/feed/commentUpdate', // 서버의 댓글 처리 URL 
		      type: 'post',
		      data: {
		    	  feedCommentNo : feedCommentNo,
		    	  updatedContent : updatedContent
		      },
		      success: function(data) {
		    	  const commentRow = element.closest('tr');
		          const targetRow = commentRow.previousElementSibling;
		          const spanToUpdate = targetRow.querySelector('span');
		          spanToUpdate.textContent = updatedContent;
		            $(element).closest('tr').addClass('hidden'); // 수정창 숨기기
		      },
		      error: function() {
		          alert('댓글수정 실패. 관리자에게 문의 해주세요.');
		      }
		});
	}
	function feedCommentDelete(element, feedCommentNo){
		//console.log(feedCommentNo);
		 $.ajax({
		      url: '/feed/feedCommentDelete', // 서버의 댓글 처리 URL 
		      type: 'post',
		      data: {
		    	  feedCommentNo : feedCommentNo
		      },
		      success: function(data) {
				$(element).parent().parent().parent().remove();
		      },
		      error: function() {
		          alert('댓글수정 실패. 관리자에게 문의 해주세요.');
		      }
		});
	}
	
	function updateHidden(element){
		   // 클릭한 버튼의 상위 tr 요소를 찾습니다.
	    const commentRow = $(element).closest('tr');

	    // 그 tr 요소의 다음 tr 요소에서 edit-comment-box 클래스를 가진 첫 번째 요소를 찾습니다.
	    const editCommentBox = commentRow.nextAll('.edit-comment-box').first();

	    // 수정창을 토글합니다.
	    editCommentBox.toggleClass('hidden');
	}
	function commentUpdateCancleBtn(element) {
	    $(element).parent().parent().toggleClass("hidden");
	}
	
	function toggle(element) {
	    $(".inputCommentBox").toggleClass("hidden");
	}
	
	$(document).on("click", ".sendComment", function(){
		  const feedCommentContent = $(".feedCommentContent").val();
	      const feedRef = $(".userFeedNo").val();

	      // 콘솔 로그로 값 확인
	      //console.log("feedCommentContent: " + feedCommentContent);
	      //console.log("feedRef: " + feedRef);
	      
		  if(feedCommentContent.trim() === ""){
		      alert("글을 입력해주세요"); // 오타 수정
		      return; // 입력이 비어 있으면 함수 종료
		  }

		  $.ajax({
		      url: '/feed/commentWrite', // 서버의 댓글 처리 URL 
		      type: 'post',
		      data: {
		    	  feedCommentContent : feedCommentContent,
		    	  feedRef : feedRef
		      },
		      dataType: "json",
		      success: function(data) {
		    	  //console.log(data);
		          // 성공적으로 댓글이 저장된 후 댓글 목록을 갱신하거나, 댓글을 추가
		          $(".comment-wrap").prepend(`
		        		  <table>
		        		  <tr>
							<td style="width: 10%;">
								<a href="/feed/myPage?userFeedWriter=${data.feedCommentWriter}">
								<img src="/user/${data.userImg}" alt="" class="comment-user"></a>
							</td>
							<td style="width: 75%;">
								<span>${data.feedCommentContent}</span>
							</td>
							<td style="width: 15%;">
								<span class="material-icons" onclick="updateHidden(this)" >edit_document</span> 
								<span class="material-icons" onclick="feedCommentDelete(this,${data.feedCommentNo})">folder_delete</span>
							</td>
							<td>
								<div id="icon-container" class="hidden">
								<span class="material-icons">folder_delete</span>
								</div>
							</td>
						</tr>
						<tr class="edit-comment-box hidden" >
	            			<td colspan="2" style="width: 50%;">
	            				 <textarea name="feedCommentContent" class="feedCommentContent" text="${data.feedCommentContent}"></textarea>
	               			</td>
	               			<td colspan="2" style="width: 50%;">
	               				 <button class="btn-primary" onclick="commentUpdateBtn(this,${data.feedCommentNo})">저장</button>
	               				 <button class="btn-primary" onclick="commentUpdateCancleBtn(this)">취소</button>
	               			</td>
						</tr>
						</table>
		          `);
		          $(".feedCommentContent").val(''); // 댓글 입력 필드 비우기
		      },
		      error: function() {
		          alert('댓글을 달수 없습니다. 다시 시도해 주세요.');
		      }
		 })
	});
	function feedUpdate(userFeedNo, userFeedWriter){
		swal({
            title:"게시글 수정",
            text :"게시글을 수정하시겠습니까?",
            icon :"info",
            buttons:{
                cancel:{
                    text:"취소",
                    value:false,
                    visible:true,
                    className:"btn-secondary",
                    closeModal:true
                },
                confirm:{
                    text:"확인",
                    value:true,
                    visible:true,
                    className:"btn-point",
                    closeModal:true
                }
            }
        }).then(function(isConfirm){
            if(isConfirm){
            	//console.log(userFeedNo);
            	//console.log(userFeedWriter);
                location.href="/feed/updateFrm?userFeedWriter="+userFeedWriter+"&userFeedNo="+userFeedNo;
            }   
        });
	}
	
	function feedDelete(userFeedNo) {
		swal({
            title:"게시글 삭제",
            text :"게시글을 삭제하시겠습니까?",
            icon :"warning",
            buttons:{
                cancel:{
                    text:"취소",
                    value:false,
                    visible:true,
                    className:"btn-secondary",
                    closeModal:true
                },
                confirm:{
                    text:"삭제",
                    value:true,
                    visible:true,
                    className:"btn-point",
                    closeModal:true
                }
            }
        }).then(function(isConfirm){
            if(isConfirm){
                location.href="/feed/delete?userFeedNo="+userFeedNo;
            }   
        });
	}
	
document.addEventListener('DOMContentLoaded', () => {
    const slides = document.querySelector('.slides-img');
    const slideCount = document.querySelectorAll('.slide-img').length;
    let index = 0;

    function showSlide(newIndex) {
        if (newIndex >= slideCount) {
            index = 0;
        } else if (newIndex < 0) {
            index = slideCount - 1;
        } else {
            index = newIndex;
        }
        slides.style.transform = `translateX(${-index * 100}%)`;
    }

    function prevSlide() {
        showSlide(index - 1);
    }

    function nextSlide() {
        showSlide(index + 1);
    }

    // Assign functions to buttons
    document.querySelector('.prev-img').addEventListener('click', prevSlide);
    document.querySelector('.next-img').addEventListener('click', nextSlide);
});

	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>